body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Fira Sans';
  line-height: 1;

  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;
}